@model Power_Monitoring.Models.User

@{
    ViewBag.Title = "Details";
    ViewData["Title"] = "Home Page";
}

<h2>Details</h2>

<div>
    <h4>First User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
            @Html.Label(Model.FirstName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.SecondName):
            @Html.Label(Model.SecondName)
        </dt>
        @*Markup omitted for clarity.*@
    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>