@model Power_Monitoring.Models.User

@{
    ViewBag.Title = "Details";
    ViewData["Title"] = "Home Page";
}

<h2>Details</h2>

<div>
    <h4>First User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
            @Html.Label(Model.FirstName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.SecondName):
            @Html.Label(Model.SecondName)
        </dt>
        @*Markup omitted for clarity.*@
    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>


<div class="container-fluid">
    <div class="animated fadeIn">
        <!-- /.row-->



        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="brand-card">
                    <div class="brand-card-header bg-facebook">
                        <i class="fa fa-facebook"></i>
                        <div class="chart-wrapper">
                            <canvas id="social-box-chart-1" height="90"></canvas>
                        </div>
                    </div>
                    <div class="brand-card-body">
                        <div>
                            <div class="text-value">55 kWh</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
                <div class="brand-card">
                    <div class="brand-card-header bg-twitter">
                        <i class="fa fa-twitter"></i>
                        <div class="chart-wrapper">
                            <canvas id="social-box-chart-2" height="90"></canvas>
                        </div>
                    </div>
                    <div class="brand-card-body">
                        <div>
                            <div class="text-value">55 kWh</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
                <div class="brand-card">
                    <div class="brand-card-header bg-linkedin">
                        <i class="fa fa-linkedin"></i>
                        <div class="chart-wrapper">
                            <canvas id="social-box-chart-3" height="90"></canvas>
                        </div>
                    </div>
                    <div class="brand-card-body">
                        <div>
                            <div class="text-value">0 kWh</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-->     
        </div>
        <!-- /.row-->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">Traffic</h4>
                        <div class="small text-muted">November 2017</div>
                    </div>
                    <!-- /.col-->
                    <div class="col-sm-7 d-none d-md-block">
                        <button class="btn btn-primary float-right" type="button">
                            <i class="icon-cloud-download"></i>
                        </button>
                        <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                <input id="option1" type="radio" name="options" autocomplete="off"> Day
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input id="option3" type="radio" name="options" autocomplete="off"> Year
                            </label>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
                <!-- /.row-->
                <div class="chart-wrapper" style="height:297px;margin-top:40px;">
                    <canvas class="chart" id="main-chart" height="300"></canvas>
                </div>
            </div>
        </div>
        <!-- /.card-->
        <!-- /.row-->
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/coreui/js/custom-tooltips.min.js"></script>
    <script src="~/lib/coreui/js/utilities/get-style.js"></script>
    <script src="~/lib/coreui/js/utilities/hex-to-rgba.js"></script>
    <script src="~/lib/coreui/js/main.js"></script>
}